.img {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.title {
    display: block;
    margin: 0;
    margin-top: 10px;
    text-align: center;
    user-select: none;
    font-size: 18px;
    font-family: roboto
}

.buttonText {
    display: block;
    margin: 0;
    margin-top: 10px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    font-size: 14px;
    font-family: roboto;
}

.title.dark {
    color: #808080
}

.title.light {
    color: black
}

.buttonText.dark {
    color: #26aa91
}

.buttonText.light {
    color: #26aa91
}

.center {
    margin: 0 auto;
}