.img {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.title {
    text-align: center;
    user-select: none;
}

.buttonText {
    display: block;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.title.dark {
    color: black
}

.title.light {
    color: black
}

.buttonText.dark {
    color: #26aa91
}

.buttonText.light {
    color: #26aa91
}
